@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
font-family: 'Poppins', sans-serif;
font-size: 18px;
}
body {
line-height: 1.6;
margin: 0;
padding: 0;
background-image:linear-gradient(rgba(0, 0, 0, 0.2),
rgba(0, 0, 0, 0.2)),  url(img/reddish.JPEG);
background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;
color:whitesmoke;
background-image: rgba(0,0,0, 0.9);


padding: 4%;
position: relative;

}

#pro{
  cursor: pointer;
}

/* Cursor highlight styles */
.mscursor-cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    top: 0;
    left: 0;
    z-index: 9999999999999999;  
  }

  .mscursor-difference{
    mix-blend-mode: difference;
  }
  
  .mscursor-circle {
      transform-origin: center;
      position: absolute;
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 20px;
  }

  .mscursor-border-transform{
    animation: border-transform 3s linear infinite;
  }
  
  @keyframes border-transform {
    0%,
    100% {
      border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
      border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
      border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
      border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
      border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
  }
  
  .mscursor-scale{
    transition: .5s ease;
    transform: scale(1.6);
  }
  
  .mscursor-scale-outline{
    transform:scale(1.9);
    background-color: transparent !important;
  }
  
  
  .mscursor-nocursor{
    cursor:none!important;
  }

div.col-sm-9 div {

font-size: 28px;
}
.affix {
display:inline-block;
top: 20px;
z-index: 9999 !important;
}

#tname{
box-sizing: border-box;
border-radius: 40px;
line-height: 0.5%;
font-weight: bold;
font-size: 70px; /* Adjust the value to make the font larger */
text-transform: uppercase; /* Convert text to uppercase for emphasis */
display: flex;
color: whitesmoke; /* Set the desired text color */

}

h2 {
margin-bottom: 0.5rem;
color: rgba(255, 109, 109, 0.815);
text-shadow: rgb(0, 0, 0);
}



.typing-text {

display: inline-block;
overflow: hidden; /* Hide overflowing characters */
white-space: nowrap; /* Prevent line breaks */
animation: typeIn 2.5s steps(250) forwards; /* Apply the typing animation */
font-size: 40px;


}




#fname{
color: rgba(251, 21, 21, 0.815);
box-sizing: border-box;
border-radius: 40px;
line-height: 0.5%;
font-weight: bold;
font-size: 70px; /* Adjust the value to make the font larger */
text-transform: uppercase; /* Convert text to uppercase for emphasis */
display: flex;
}

#col2{
padding-left: 3%;
padding-top: 4%;
}

.who-we-are{
text-align: justify;
}

.box{

background-color:rgba(0, 0, 0, 0.3);
border: 20px;
border-color: black;

}
.dot {
height: 12px;
width: 12px;
margin: 0 2px;
background-color: #da1313;
border-radius: 50%;
display: inline-block;
}
#htmlcode{
&:after{
content: "|";
animation: blink 500ms linear infinite alternate;
}
}

#row2{

padding-bottom: 5%;
}



.para1{
text-align: justify;
}


.project {
background-color: black;
border: 1px solid #ccc;
padding: 20px;
margin: 10px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease-in-out;
width: 100%;


}

.project:hover {
transform: scale(1.05);
}

.button{
border-radius: 7px;
background-color:  black;
color:rgba(255, 109, 109, 0.815);
width: 110px;
height: 45px;
border-color: black;
box-shadow: whitesmoke;
}

.iso-box-section { width: 100%; }
.iso-box-wrapper {
width: 100%;
padding: 0;
clear: both;
position: relative;
}
.iso-box {
position: relative;
min-height: 50px;
float: left;
overflow: hidden;
margin-bottom: 20px;
}
.iso-box > a {
display: block;
width: 100%;
height: 100%;
overflow: hidden;
}
.iso-box > a {
display: block;
width: 100%;
height: 100%;
overflow: hidden;
}
.fluid-img {
width: 100%;
display: block;
height: auto;
}

.portfolio-item-title {
font-weight: bold;
margin-top: 10px;
text-transform: uppercase;
}
.portfolio-thumb {
overflow: hidden;
margin: 0;
position: relative;
}
.portfolio-overlay {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
-webkit-justify-content: center;
    -ms-flex-pack: center;
        justify-content: center;
background: rgba(0, 0, 0, 7);
color: #ffffff;
top: 0;
right: 0;
left: 0;
bottom: 0;
width: 100%;
height: 100%;  
padding: 0 40px;
text-align: center;
position: absolute;
opacity: 0;
transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
}
.portfolio-thumb:hover .portfolio-overlay {
opacity: 0.8;  
-webkit-transform: scale(1.0);
-ms-transform: scale(1.0);
transform: scale(1.0);
}
.portfolio-overlay .fa {
border: 1px solid #666;
border-radius: 0;
color: #666;
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
text-decoration: none;
margin-right: 6px;
margin-bottom: 10px;
}

/* Carousel base class */
.carousel {
margin-bottom: 0rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
bottom: 3rem;
z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
height: 55rem;
}

.wrapper{
      width:100%;
      font-family: 'Roboto', sans-serif;
margin:0 auto;
  }
  .skill {
      margin-bottom: 35px;
      position: relative;
    overflow-x:hidden;
    
  }
  .skill > p {
      font-size: 18px;
      font-weight: 700;
      color: whitesmoke;
      margin: 0;
  }
  .skill:before{
      width: 100%;
      height: 5px;
      content: "";
      display: block;
      position: absolute;
      background: #959595;
      bottom: 0;
  }
  .skill-bar {
      width: 100%;
      height: 5px;
      background:#f4392f;
      display: block;
      position: relative;
  }

  /* SKILL 1 */
  .skill1{
      width: 95%;
    
  }
  .skill-bar span{
      position: absolute;

      top: -30px;
      padding: 0;
      font-size: 18px;
      padding: 3px 0;
      font-weight: 500;
  }
  .skill-bar {
      position: relative;
    
  }

  .skill1 .skill-count1 {
      right: 0;
  }
  /* SKILL 2 */
  .skill2{
      width: 85%;
  }

  .skill2 .skill-count2 {
      right: 0;
  }
  /* SKILL 3 */
  .skill3{
      width: 75%;
  }
  .skill3 .skill-count3 {
      right: 0;
  }

  /* SKILL 4 */
  .skill4{
      width: 45%
  }

  .skill4 .skill-count4 {
      right: 0;
  }

    /* SKILL 7 */

  .skill7{
        width: 65%;
  }

  .skill7 .skill-count7 {
    right: 0;
}

  /* SKILL 5 */
  .skill5{
      width: 80%;
  }

  .skill5 .skill-count5 {
      right: 0;
  }

  /* SKILL 6 */
  .skill6{
      width: 80%
  }

  .skill6 .skill-count6 {
      right: 0;
  }

  .gradient-custom {
    
    /* fallback for old browsers */
    background: #8c8c8c;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(196, 10, 10), rgba(131, 129, 129, 0.815));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(196, 10, 10),rgba(110, 107, 107, 0.815))
    }
    
.ul {

display:flex;
}
.ul .li {
list-style:none;
}
.ul .li a {
display:block;
position:relative;
width:35px;
height:40px;
line-height:42px;
font-size:25px;
text-align:center;
text-decoration:none;
color:#404040;
margin: 0 10px;
transition:.5s;
}
.ul .li a span {
position:absolute;
transition: transform .5s;
}
.ul .li a span:nth-child(1),
.ul .li a span:nth-child(3){
width:100%;
height:3px;
background:#404040;
}
.ul .li a span:nth-child(1) {
top:0;
left:0;
transform-origin: right;
}
.ul .li a:hover span:nth-child(1) {
transform: scaleX(0);
transform-origin: left;
transition:transform .5s;
}

.ul .li a span:nth-child(3) {
bottom:0;
left:0;
transform-origin: left;
}
.ul .li a:hover span:nth-child(3) {
transform: scaleX(0);
transform-origin: right;
transition:transform .5s;
}

.ul .li a span:nth-child(2),
.ul .li a span:nth-child(4){
width:3px;
height:100%;
background:#404040;
}
.ul .li a span:nth-child(2) {
top:0;
left:0;
transform:scale(0);
transform-origin: bottom;
}
.ul .li a:hover span:nth-child(2) {
transform: scale(1);
transform-origin: top;
transition:transform .5s;
}
.ul .li a span:nth-child(4) {
top:0;
right:0;
transform:scale(0);
transform-origin: top;
}
.ul .li a:hover span:nth-child(4) {
transform: scale(1);
transform-origin: bottom;
transition:transform .5s;
}

.facebook:hover {
color: #3b5998;
}
.facebook:hover span { 
background: #3b5998;
}
.twitter:hover {
color: #1da1f2;
}
.twitter:hover span { 
background: #1da1f2;
}
.instagram:hover {
color: #c32aa3;
}
.instagram:hover span { 
background: #c32aa3;
}
.google:hover {
color: #dd4b39;
}
.google:hover span { 
background: #dd4b39;
}
ul li a .twitter {
color: #1da1f2;
}
ul li a:hover:nth-child(3) {
color: #c32aa3;
}
ul li a:hover:nth-child(4) {
color: #dd4b39;
}

#myBtn {
display: none; /* Hidden by default */
position: fixed; /* Fixed/sticky position */
bottom: 50px; /* Place the button at the bottom of the page */
right: 0px; /* Place the button 30px from the right */
z-index: 99; /* Make sure it does not overlap */
border: none; /* Remove borders */
outline: none; /* Remove outline */
background-color: red; /* Set a background color */
color: white; /* Text color */
cursor: pointer; /* Add a mouse pointer on hover */
padding: 15px; /* Some padding */
border-radius: 150%; /* Rounded corners */

width: 7%;
height: 14%;
}

#myBtn:hover {
background-color: #555; /* Add a dark-grey background on hover */
}

#nav1{
    color: #dd4b39;
    
}
#nav1:hover{
    background-color: #dd4b39;
    color: darkred;
}
#nav1:active{
    color: black;
}
#name1 {
    box-sizing: border-box;
    border-radius: 40px;
    font-weight: bold;
    font-size: 70px; /* Adjust the value to make the font larger */
    text-transform: uppercase; /* Convert text to uppercase for emphasis */
    display: flex;
    color: whitesmoke; /* Set the desired text color */
    opacity: 0; /* Start with 0 opacity */
    transition: opacity 0.5s ease; /* Add transition for smooth animation */
    height: 5%;
    position: absolute;
    
}

#name1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

#name1 li {
    font-size: 45px;
    line-height: 1.2;
}

#fname2{
    color: rgba(251, 21, 21, 0.815);
    box-sizing: border-box;
    border-radius: 40px;
    line-height: 1.2;
    font-weight: bold;
    font-size: 45px; /* Adjust the value to make the font larger */
    text-transform: uppercase; /* Convert text to uppercase for emphasis */
    display: flex;

}


@keyframes typeIn {
from {
width: 0;
}
to {
width: 100%;
}
}

@-webkit-keyframes blink{
0%{opacity: 0;}
100%{opacity: 1;}
}

@-moz-keyframes blink{
0%{opacity: 0;}
100%{opacity: 1;}
}

@keyframes blink{
0%{opacity: 0;}
100%{opacity: 1;}
}

@media screen and (max-width: 810px) {
  #section1, #section2, #section3  {
    margin-left: 150px;
  }
}
